registry=https://registry.npmjs.org/
@liquidlogiclabs:registry=https://git.ravenwolf.org/api/packages/liquidlogiclabs/npm/
//git.ravenwolf.org/api/packages/liquidlogiclabs/npm/:_authToken=${NPM_REGISTRY_TOKEN}
