registry=https://registry.npmjs.org/
@liquidlogiclabs:registry=https://git.ravenwolf.org/api/packages/liquidlogiclabs/npm/
//git.ravenwolf.org/api/packages/liquidlogiclabs/npm/:_authToken=${NPM_REGISTRY_TOKEN}
//git.ravenwolf.org/api/packages/liquidlogiclabs/npm/:_authToken=c623a86fcf1b7df5fed9d2729fb04cf2d49746c2
//git.ravenwolf.org/api/packages/liquidlogiclabs/npm/:_authToken=c623a86fcf1b7df5fed9d2729fb04cf2d49746c2
//git.ravenwolf.org/api/packages/liquidlogiclabs/npm/:_authToken=c623a86fcf1b7df5fed9d2729fb04cf2d49746c2
//git.ravenwolf.org/api/packages/liquidlogiclabs/npm/:_authToken=c623a86fcf1b7df5fed9d2729fb04cf2d49746c2
